<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.myapp" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Alcovrach</name>
    <description>Alcovrach app</description>
    <author email="author@mail.ru" href="/">Alcovrach Team</author>

    <content src="index.html" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <plugin name="cordova-plugin-geolocation" />
    <plugin name="cordova-plugin-splashscreen" />

    <icon src="android-icon.png" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="mainLogo-round.png" />
    <preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF" />
    <preference name="AndroidWindowSplashScreenDuration" value="2000" />
</widget>
