* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  color: black;
}

input{
  background-color: transparent;
  color: black;
}

body.login-page {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}



.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  justify-content: center;
}

.app-icon {
  font-size: 48px;
}

h1 {
  font-size: 20px;
  color: #333;
}

.login-form {
  width: 100%;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
  display: none;
}

.error-icon {
  position: absolute;
  right: 10px;
  top: 12px;
  color: red;
  display: none;
}

.remember-wrapper {
  display: flex;
  gap: 8px;
  text-align: left;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.remember-text__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.remember-text__desc {
  color: #667085;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.btn {
  width: 100%;
  background-color: #7F56D9;
  color: white;
  padding: 12px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.input-with-icon {
  position: relative;
  width: 100%;
}

.input-with-icon img {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.input-with-icon input {
  padding-left: 40px;
}

.login-page .btn{
  text-align: center;
}